@keyframes moveInLeft {
  0% {
    transform: translateX(-1000px);
    visibility: visible;
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(1000px);
    visibility: visible;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(1000px);
    visibility: visible;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes moveInTop {
  0% {
    transform: translateY(-1000px);
    visibility: visible;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
.entry.active .child-left {
  animation: moveInLeft 3s ease-in-out;
  animation-fill-mode: forwards;
}
.entry.active .child-right {
  animation: moveInRight 3s ease-in-out;
  animation-fill-mode: forwards;
}
.entry.active .child-bottom {
  animation: moveInBottom 3s ease-in-out;
  animation-fill-mode: forwards;
}
.entry.active .child-top {
  animation: moveInTop 3s ease-in-out;
  animation-fill-mode: forwards;
}
.entry {
  overflow: hidden;
}

/* animations for contact */
@keyframes shows {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.entry.active .visible {
  animation: shows 3s ease-in-out;
  animation-fill-mode: forwards;
}
