@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
/* if no property, its 0, but this property makes it rotate */
:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: hsl(45, 100%, 96%);
  --clr-4: hsl(42, 78%, 60%);
  --clr-5: hsl(43, 86%, 17%);
}
.glowing-radiance {
  width: 100%;
  height: 100%;
}
/* 
and to give it a width thats not full size hes just using an aspect-ratio so that if he increases the height the width will go along with it. maintaining an aspect ratio
*/
.glowing-card {
  aspect-ratio: 1 / 1.5;
  border-radius: 0.5rem;
  position: relative;
}
/* we can fix the solid line and acceleration by 4 and 3 */
.glowing-card::before,
.glowing-card::after {
  content: '';
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 5s linear infinite;
}
/* takes the border radius of parent */
/* the glow, use filter to blur */
.glowing-card::after {
  filter: blur(3.5rem);
}

/* Animations */
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
