#bar {
  width: 0vw;
  height: 1rem;
  transition: all 0.2s linear;
  background-color: red;
  box-shadow: 0 0 10px 0px gold;
  position: sticky;
  top: 0px;
  border-radius: 2rem;
  z-index: 15;
  border-radius: 2rem;
}
.bar-container {
  z-index: 14;
  position: sticky;
  top: 0px;
  background-color: hsl(43, 86%, 17%);
}
::-webkit-scrollbar {
  width: 0px;
}
