.service-back p {
  padding-inline: 2.5rem;
}
.bg-gold h2 {
  color: white;
}
.service-section {
  background: #222;
}
.service-section h2 {
  color: #fff;
}
.service-section .service-back {
  background-color: white;
}
