.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url('../../images/sections/fall.jpg') center/cover no-repeat fixed;
}
.hero-info {
  color: white;
}
.hero-info h4 {
  color: white !important;
}
