#slider {
  padding: 5rem 0;
  margin: 0 auto;
  background: #222;
  color: white;
}
.slider-center {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 90vw;
  height: 300px;
  max-width: 500px;
}
.slide-container {
  padding: 1rem;
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  border-radius: 0.5rem;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.slide-img {
  display: block !important;
  width: 250px !important;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.slide-text {
  text-align: center;
  color: white;
  margin-top: 1rem;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}
.prev-btn {
  position: absolute;
  left: 2rem;
  bottom: 50%;
}
.next-btn {
  position: absolute;
  right: 2rem;
  bottom: 50%;
}
